In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('wdi.csv')

In [3]:
df.shape

(11616, 25)

In [5]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1998,1999,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,0.479704,NaN,NaN,NaN,NaN,NaN,...,0.025991,0.158748,0.098249,0.032368,0.047570,0.055214,0.092621,0.085052,0.079048,0.075850
1,Aruba,ABW,Agricultural raw materials imports (% of merch...,TM.VAL.AGRI.ZS.UN,2.671893,NaN,NaN,NaN,NaN,NaN,...,0.647521,0.826171,0.826909,0.253547,0.303565,0.397703,0.496104,0.335164,0.298955,0.310605
2,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,52.464000,52.87300,53.283000,53.661000,54.028000,54.394000,...,56.579000,56.941000,57.060000,57.043000,57.010000,56.959000,56.892000,56.808000,56.707000,56.589000
3,Aruba,ABW,Rural population growth (annual %),SP.RUR.TOTL.ZG,2.898176,2.73795,2.826236,2.933275,2.910101,2.784229,...,0.737882,0.848279,0.578723,0.472887,0.525088,0.505428,0.427109,0.359852,0.291638,0.245723
4,Aruba,ABW,Rural population,SP.RUR.TOTL,45789.000000,47060.00000,48409.000000,49850.000000,51322.000000,52771.000000,...,57402.000000,57891.000000,58227.000000,58503.000000,58811.000000,59109.000000,59362.000000,59576.000000,59750.000000,59897.000000

In [6]:
df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1998,1999,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
11611,Zimbabwe,ZWE,Agricultural land (% of land area),AG.LND.AGRI.ZS,37.533928,38.361122,38.929818,39.395114,39.989660,40.454957,...,42.135195,41.876696,42.393693,41.876696,41.876696,41.876696,41.876696,41.876696,NaN,NaN
11612,Zimbabwe,ZWE,Agricultural land (sq. km),AG.LND.AGRI.K2,145200.000000,148400.000000,150600.000000,152400.000000,154700.000000,156500.000000,...,163000.000000,162000.000000,164000.000000,162000.000000,162000.000000,162000.000000,162000.000000,162000.000000,NaN,NaN
11613,Zimbabwe,ZWE,Fertilizer consumption (kilograms per hectare ...,AG.CON.FERT.ZS,NaN,NaN,NaN,NaN,35.701370,40.008767,...,28.778049,34.083000,26.548333,18.250000,18.975000,25.450000,22.900000,22.900000,NaN,NaN
11614,Zimbabwe,ZWE,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,NaN,NaN,NaN,NaN,131.162557,176.766368,...,186.693038,215.715190,218.633333,208.571429,121.246006,130.680359,144.707741,144.707741,NaN,NaN
11615,Zimbabwe,ZWE,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1998,1999,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
10116,Europe & Central Asia (IDA & IBRD countries),TEC,Agricultural land (sq. km),AG.LND.AGRI.K2,6.586119e+06,6.580987e+06,6.579417e+06,6.563912e+06,6.539738e+06,6.515440e+06,...,6.469665e+06,6.512439e+06,6.509283e+06,6.504526e+06,6.530018e+06,6.537061e+06,6.536592e+06,6.530710e+06,NaN,NaN
2034,Costa Rica,CRI,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,1.268092e+01,1.115606e+01,9.288489e+00,8.412611e+00,8.465549e+00,8.879020e+00,...,7.091922e+00,6.587178e+00,5.838476e+00,5.409330e+00,5.043542e+00,5.124802e+00,4.956675e+00,5.130814e+00,5.013779e+00,4.580901
9830,Sint Maarten (Dutch part),SXM,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,NaN
6169,Late-demographic dividend,LTE,Rural poverty gap at national poverty lines (%),SI.POV.RUGP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11563,Zambia,ZMB,Land under cereal production (hectares),AG.LND.CREL.HA,6.585260e+05,7.578730e+05,7.181160e+05,6.777500e+05,5.319500e+05,8.026500e+05,...,1.064483e+06,1.223849e+06,1.235134e+06,1.191141e+06,1.145156e+06,1.326867e+06,9.669300e+05,1.287709e+06,1.573766e+06,NaN

In [10]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018'],
      dtype='object')

In [16]:
xf = df.melt(
    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
    var_name='Year',
    value_name='Indicator Value'
)

In [17]:
xf.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Indicator Value
0,Aruba,ABW,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,1998,0.479704
1,Aruba,ABW,Agricultural raw materials imports (% of merch...,TM.VAL.AGRI.ZS.UN,1998,2.671893
2,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,1998,52.464000
3,Aruba,ABW,Rural population growth (annual %),SP.RUR.TOTL.ZG,1998,2.898176
4,Aruba,ABW,Rural population,SP.RUR.TOTL,1998,45789.000000

In [18]:
xf.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Indicator Value
243931,Zimbabwe,ZWE,Agricultural land (% of land area),AG.LND.AGRI.ZS,2018,NaN
243932,Zimbabwe,ZWE,Agricultural land (sq. km),AG.LND.AGRI.K2,2018,NaN
243933,Zimbabwe,ZWE,Fertilizer consumption (kilograms per hectare ...,AG.CON.FERT.ZS,2018,NaN
243934,Zimbabwe,ZWE,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,2018,NaN
243935,Zimbabwe,ZWE,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,2018,NaN

In [19]:
xf.sample(10)

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Indicator Value
226554,Latin America & Caribbean,LCN,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,2017,NaN
106076,Central Europe and the Baltics,CEB,Arable land (% of land area),AG.LND.ARBL.ZS,2007,33.900227
178687,IDA & IBRD total,IBT,Rural population growth (annual %),SP.RUR.TOTL.ZG,2013,0.260306
74372,Isle of Man,IMN,"Annual freshwater withdrawals, agriculture (% ...",ER.H2O.FWAG.ZS,2004,NaN
71239,Switzerland,CHE,Rural population growth (annual %),SP.RUR.TOTL.ZG,2004,0.593306
96514,Ghana,GHA,Food production index (2004-2006 = 100),AG.PRD.FOOD.XD,2006,102.840000
228085,Malaysia,MYS,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.K2,2017,NaN
149820,Tonga,TON,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,2010,2.044528
198158,Belgium,BEL,Rural land area (sq. km),AG.LND.TOTL.RU.K2,2015,NaN
66870,Romania,ROU,Permanent cropland (% of land area),AG.LND.CROP.ZS,2003,2.022179

In [15]:
xf.shape

(243936, 6)

In [25]:
xf.shape

(243936, 4)

In [32]:
sf = xf.pivot_table('Indicator Value', ['Country Name', 'Year'], 'Indicator Name')

In [33]:
sf.head()

Indicator Name     Access to electricity, rural (% of rural population)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Agricultural irrigated land (% of total agricultural land)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                           5.668424
             2002                                           4.622149

Indicator Name     Agricultural land (% of land area)  \
Country Name Year
Afghanistan  1998                           58.001716
             1999                           57.827099
             2000                           57.827099
             2001                           57.827099
             2002                           57.827099

Indicator Name     Agricultural land (sq. km)  \
Country Name Year
Afghanistan  1998                    378670.0
             1999                    377530.0
             2000                    377530.0
             2001                    377530.0
             2002                    377530.0

Indicator Name     Agricultural machinery, tractors  \
Country Name Year
Afghanistan  1998                             110.0
             1999                             110.0
             2000                             110.0
             2001                               NaN
             2002                               NaN

Indicator Name     Agricultural machinery, tractors per 100 sq. km of arable land  \
Country Name Year
Afghanistan  1998                                           0.141807
             1999                                           0.143734
             2000                                           0.143173
             2001                                                NaN
             2002                                                NaN

Indicator Name     Agricultural methane emissions (% of total)  \
Country Name Year
Afghanistan  1998                                    73.881227
             1999                                    74.665873
             2000                                    71.209575
             2001                                    67.472555
             2002                                    69.323344

Indicator Name     Agricultural methane emissions (thousand metric tons of CO2 equivalent)  \
Country Name Year
Afghanistan  1998                                        7166.604619
             1999                                        7694.990166
             2000                                        6682.434739
             2001                                        5847.508960
             2002                                        6883.412869

Indicator Name     Agricultural nitrous oxide emissions (% of total)  \
Country Name Year
Afghanistan  1998                                          74.905640
             1999                                          75.939808
             2000                                          72.380378
             2001                                          72.537779
             2002                                          73.274116

Indicator Name     Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)  \
Country Name Year
Afghanistan  1998                                        2496.601988
             1999                                        2734.256076
             2000                                        2400.543016
             2001                                        2218.853784
             2002                                        2472.752284

Indicator Name     ...  Rural land area (sq. km)  \
Country Name Year  ...
Afghanistan  1998  ...                       NaN
             1999  ...                       NaN
             2000  ...                       NaN
             2001  ...                       NaN
             2002  ...                       NaN

Indicator Name     Rural land area where elevation is below 5 meters (% of total land area)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Rural land area where elevation is below 5 meters (sq. km)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Rural population  Rural population (% of total population)  \
Country Name Year
Afghanistan  1998        15416181.0                                    78.105
             1999        15736082.0                                    78.014
             2000        16192155.0                                    77.922
             2001        16816935.0                                    77.831
             2002        17569613.0                                    77.739

Indicator Name     Rural population growth (annual %)  \
Country Name Year
Afghanistan  1998                            1.832151
             1999                            2.053862
             2000                            2.857057
             2001                            3.785955
             2002                            4.378446

Indicator Name     Rural population living in areas where elevation is below 5 meters (% of total population)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Rural poverty gap at national poverty lines (%)  \
Country Name Year
Afghanistan  1998                                              NaN
             1999                                              NaN
             2000                                              NaN
             2001                                              NaN
             2002                                              NaN

Indicator Name     Rural poverty headcount ratio at national poverty lines (% of rural population)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Surface area (sq. km)
Country Name Year
Afghanistan  1998               652860.0
             1999               652860.0
             2000               652860.0
             2001               652860.0
             2002               652860.0

[5 rows x 44 columns]

In [34]:
sf.columns

Index(['Access to electricity, rural (% of rural population)',
       'Agricultural irrigated land (% of total agricultural land)',
       'Agricultural land (% of land area)', 'Agricultural land (sq. km)',
       'Agricultural machinery, tractors',
       'Agricultural machinery, tractors per 100 sq. km of arable land',
       'Agricultural methane emissions (% of total)',
       'Agricultural methane emissions (thousand metric tons of CO2 equivalent)',
       'Agricultural nitrous oxide emissions (% of total)',
       'Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)',
       'Agricultural raw materials exports (% of merchandise exports)',
       'Agricultural raw materials imports (% of merchandise imports)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Agriculture, forestry, and fishing, value added (current US$)',
       'Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)',
       'Arable land (% of land area)', 'Arable land (hectares per person)',
       'Arable land (hectares)',
       'Average precipitation in depth (mm per year)',
       'Cereal production (metric tons)', 'Cereal yield (kg per hectare)',
       'Crop production index (2004-2006 = 100)',
       'Employment in agriculture (% of total employment) (modeled ILO estimate)',
       'Employment in agriculture, female (% of female employment) (modeled ILO estimate)',
       'Employment in agriculture, male (% of male employment) (modeled ILO estimate)',
       'Fertilizer consumption (% of fertilizer production)',
       'Fertilizer consumption (kilograms per hectare of arable land)',
       'Food production index (2004-2006 = 100)',
       'Forest area (% of land area)', 'Forest area (sq. km)',
       'Land area (sq. km)', 'Land under cereal production (hectares)',
       'Livestock production index (2004-2006 = 100)',
       'Permanent cropland (% of land area)', 'Rural land area (sq. km)',
       'Rural land area where elevation is below 5 meters (% of total land area)',
       'Rural land area where elevation is below 5 meters (sq. km)',
       'Rural population', 'Rural population (% of total population)',
       'Rural population growth (annual %)',
       'Rural population living in areas where elevation is below 5 meters (% of total population)',
       'Rural poverty gap at national poverty lines (%)',
       'Rural poverty headcount ratio at national poverty lines (% of rural population)',
       'Surface area (sq. km)'],
      dtype='object', name='Indicator Name')

In [35]:
sf.shape

(5522, 44)

In [36]:
sf.reset_index(drop=Flase, inplace=True)

Indicator Name,Country Name,Year,"Access to electricity, rural (% of rural population)",Agricultural irrigated land (% of total agricultural land),Agricultural land (% of land area),Agricultural land (sq. km),"Agricultural machinery, tractors","Agricultural machinery, tractors per 100 sq. km of arable land",Agricultural methane emissions (% of total),Agricultural methane emissions (thousand metric tons of CO2 equivalent),...,Rural land area (sq. km),Rural land area where elevation is below 5 meters (% of total land area),Rural land area where elevation is below 5 meters (sq. km),Rural population,Rural population (% of total population),Rural population growth (annual %),Rural population living in areas where elevation is below 5 meters (% of total population),Rural poverty gap at national poverty lines (%),Rural poverty headcount ratio at national poverty lines (% of rural population),Surface area (sq. km)
0,Afghanistan,1998,NaN,NaN,58.001716,378670.0,110.0,0.141807,73.881227,7166.604619,...,NaN,NaN,NaN,15416181.0,78.105,1.832151,NaN,NaN,NaN,652860.0
1,Afghanistan,1999,NaN,NaN,57.827099,377530.0,110.0,0.143734,74.665873,7694.990166,...,NaN,NaN,NaN,15736082.0,78.014,2.053862,NaN,NaN,NaN,652860.0
2,Afghanistan,2000,NaN,NaN,57.827099,377530.0,110.0,0.143173,71.209575,6682.434739,...,NaN,NaN,NaN,16192155.0,77.922,2.857057,NaN,NaN,NaN,652860.0
3,Afghanistan,2001,NaN,5.668424,57.827099,377530.0,NaN,NaN,67.472555,5847.508960,...,NaN,NaN,NaN,16816935.0,77.831,3.785955,NaN,NaN,NaN,652860.0
4,Afghanistan,2002,NaN,4.622149,57.827099,377530.0,NaN,NaN,69.323344,6883.412869,...,NaN,NaN,NaN,17569613.0,77.739,4.378446,NaN,NaN,NaN,652860.0
5,Afghanistan,2003,NaN,7.259298,58.067580,379100.0,NaN,NaN,68.613061,7101.863479,...,NaN,NaN,NaN,18387486.0,77.647,4.549945,NaN,NaN,NaN,652860.0
6,Afghanistan,2004,NaN,5.502361,58.069111,379110.0,NaN,NaN,67.209278,7071.356991,...,NaN,NaN,NaN,19163180.0,77.500,4.132041,NaN,NaN,NaN,652860.0
7,Afghanistan,2005,8.020726,5.840148,58.067580,379100.0,NaN,NaN,66.089097,7070.674237,...,NaN,NaN,NaN,19829986.0,77.297,3.420451,NaN,NaN,NaN,652860.0
8,Afghanistan,2006,11.193079,6.085466,58.067580,379100.0,NaN,NaN,64.896082,7054.139231,...,NaN,NaN,NaN,20378030.0,77.093,2.726212,NaN,NaN,NaN,652860.0
9,Afghanistan,2007,18.384673,5.940385,58.067580,379100.0,NaN,NaN,63.758749,7045.150486,...,NaN,NaN,NaN,20836789.0,76.887,2.226277,NaN,NaN,NaN,652860.0
10,Afghanistan,2008,27.954252,5.779478,58.067580,379100.0,NaN,NaN,62.651443,7032.248544,...,NaN,NaN,NaN,21257441.0,76.680,1.998687,NaN,NaN,NaN,652860.0
11,Afghanistan,2009,32.904368,4.843049,58.067580,379100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,21714081.0,76.472,2.125395,NaN,NaN,NaN,652860.0
12,Afghanistan,2010,30.218800,5.001187,58.069111,379110.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22257743.0,76.263,2.472900,NaN,NaN,NaN,652860.0
13,Afghanistan,2011,29.572881,5.391717,58.067580,379100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22904895.0,76.052,2.866070,NaN,NaN,NaN,652860.0
14,Afghanistan,2012,60.849156,5.465576,58.067580,379100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,23632788.0,75.840,3.128443,NaN,NaN,NaN,652860.0
15,Afghanistan,2013,62.875693,5.518333,58.067580,379100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,24404522.0,75.627,3.213337,NaN,NaN,NaN,652860.0
16,Afghanistan,2014,86.500512,5.742548,58.067580,379100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25165917.0,75.413,3.072214,NaN,NaN,NaN,652860.0
17,Afghanistan,2015,64.573354,5.710894,58.067580,379100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25877997.0,75.197,2.790249,NaN,NaN,NaN,652860.0
18,Afghanistan,2016,97.099360,6.481140,58.067580,379100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26530269.0,74.980,2.489324,NaN,NaN,NaN,652860.0
19,Afghanistan,2017,97.091973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27131559.0,74.750,2.241128,NaN,NaN,NaN,652860.0
20,Afghanistan,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27695286.0,74.505,2.056463,NaN,NaN,NaN,652860.0
21,Albania,1998,100.000000,NaN,41.569343,11390.0,8150.0,141.247834,72.361713,1716.050783,...,NaN,NaN,NaN,1858316.0,59.399,-1.577692,NaN,NaN,NaN,28750.0
22,Albania,1999,100.000000,NaN,41.788321,11450.0,8200.0,142.114385,75.048857,1768.803995,...,NaN,NaN,NaN,1828925.0,58.831,-1.594234,NaN,NaN,NaN,28750.0
23,Albania,2000,100.000000,NaN,41.751825,11440.0,8087.0,139.913495,68.797410,1794.786843,...,26686.71094,4.562272,1294.595459,1799636.0,58.259,-1.614394,4.864379,NaN,NaN,28750.0
24,Albania,2001,100.000000,NaN,41.569343,11390.0,7647.0,132.301038,75.286092,1765.632024,...,NaN,NaN,NaN,1761589.0,57.565,-2.136818,NaN,NaN,NaN,28750.0
25,Albania,2002,100.000000,NaN,41.605839,11400.0,7515.0,130.017301,74.206039,1731.390148,...,NaN,NaN,NaN,1723790.0,56.499,-2.169089,NaN,6.6,29.6,28750.0
26,Albania,2003,100.000000,NaN,40.912409,11210.0,5917.0,102.370242,70.999168,1755.944331,...,NaN,NaN,NaN,1684768.0,55.427,-2.289749,NaN,NaN,NaN,28750.0
27,Albania,2004,100.000000,NaN,40.948905,11220.0,7574.0,131.038062,68.879729,1701.343094,...,NaN,NaN,NaN,1645111.0,54.349,-2.382001,NaN,NaN,NaN,28750.0
28,Albania,2005,100.000000,NaN,39.306569,10770.0,8122.0,150.966543,68.756403,1703.130484,...,NaN,NaN,NaN,1604189.0,53.269,-2.518953,NaN,5.3,24.2,28750.0
29,Albania,2006,100.000000,NaN,40.875912,11200.0,7902.0,135.308219,67.338709,1673.555465,...,NaN,NaN,NaN,1561661.0,52.185,-2.686833,NaN,NaN,NaN,28750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5492,Zambia,2010,3.959455,NaN,31.525848,234360.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8251349.0,60.645,2.103384,NaN,NaN,NaN,752610.0
5493,Zambia,2011,5.008009,NaN,31.794886,236360.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8434810.0,60.149,2.199049,NaN,NaN,NaN,752610.0
5494,Zambia,2012,5.005562,NaN,32.063923,238360.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8627866.0,59.646,2.263001,NaN,NaN,NaN,752610.0
5495,Zambia,2013,5.147972,NaN,31.929404,237360.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8826788.0,59.135,2.279399,NaN,NaN,NaN,752610.0
5496,Zambia,2014,4.179726,NaN,32.063923,238360.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9027027.0,58.618,2.243189,NaN,NaN,NaN,752610.0
5497,Zambia,2015,4.697573,NaN,32.063923,238360.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9224797.0,58.093,2.167211,NaN,NaN,NaN,752610.0
5498,Zambia,2016,9.182742,NaN,32.063923,238360.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9419162.0,57.562,2.085094,NaN,NaN,NaN,752610.0
5499,Zambia,2017,13.997701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9610647.0,57.024,2.012542,NaN,NaN,NaN,752610.0
5500,Zambia,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9800136.0,56.479,1.952472,NaN,NaN,NaN,752610.0
5501,Zimbabwe,1998,7.317597,NaN,37.533928,145200.0,NaN,NaN,73.315463,6775.675805,...,NaN,NaN,NaN,7877704.0,67.061,0.199852,NaN,NaN,NaN,390760.0
5502,Zimbabwe,1999,13.884931,NaN,38.361122,148400.0,NaN,NaN,74.739975,7660.996911,...,NaN,NaN,NaN,7880197.0,66.653,0.031641,NaN,NaN,NaN,390760.0
5503,Zimbabwe,2000,7.569764,NaN,38.929818,150600.0,NaN,NaN,73.309305,7090.197389,...,NaN,NaN,NaN,7870528.0,66.242,-0.122775,NaN,NaN,NaN,390760.0
5504,Zimbabwe,2001,7.684871,NaN,39.395114,152400.0,NaN,NaN,74.891718,7592.222796,...,NaN,NaN,NaN,7849513.0,65.830,-0.267366,NaN,NaN,NaN,390760.0
5505,Zimbabwe,2002,7.167801,NaN,39.989660,154700.0,NaN,NaN,73.425285,7051.720282,...,NaN,NaN,NaN,7819899.0,65.415,-0.377985,NaN,NaN,NaN,390760.0
5506,Zimbabwe,2003,8.454899,NaN,40.454957,156500.0,NaN,NaN,72.464155,6673.151570,...,NaN,NaN,NaN,7850873.0,65.521,0.395310,NaN,NaN,NaN,390760.0
5507,Zimbabwe,2004,9.179481,NaN,41.359700,160000.0,NaN,NaN,73.678368,7015.963693,...,NaN,NaN,NaN,7897803.0,65.706,0.595988,NaN,NaN,NaN,390760.0
5508,Zimbabwe,2005,9.852271,NaN,41.618198,161000.0,NaN,NaN,73.507305,7099.306101,...,NaN,NaN,NaN,7957337.0,65.890,0.750978,NaN,NaN,NaN,390760.0
5509,Zimbabwe,2006,9.370758,NaN,42.135195,163000.0,NaN,NaN,69.759582,5904.897475,...,NaN,NaN,NaN,8031619.0,66.074,0.929173,NaN,NaN,NaN,390760.0
5510,Zimbabwe,2007,11.114970,NaN,41.876696,162000.0,NaN,NaN,69.850517,5914.934778,...,NaN,NaN,NaN,8120406.0,66.257,1.099403,NaN,NaN,NaN,390760.0
5511,Zimbabwe,2008,11.746522,NaN,42.522942,164500.0,NaN,NaN,69.843807,5905.300852,...,NaN,NaN,NaN,8224972.0,66.440,1.279474,NaN,NaN,NaN,390760.0
5512,Zimbabwe,2009,19.574888,NaN,42.135195,163000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8345717.0,66.622,1.457358,NaN,NaN,NaN,390760.0
5513,Zimbabwe,2010,17.767990,NaN,41.876696,162000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8482587.0,66.804,1.626700,NaN,NaN,NaN,390760.0
5514,Zimbabwe,2011,14.080049,NaN,42.393693,164000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8637258.0,66.985,1.806970,NaN,NaN,NaN,390760.0
5515,Zimbabwe,2012,23.831091,NaN,41.876696,162000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8808909.0,67.166,1.967842,NaN,NaN,NaN,390760.0
5516,Zimbabwe,2013,15.569924,NaN,41.876696,162000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8990931.0,67.346,2.045281,NaN,NaN,NaN,390760.0
5517,Zimbabwe,2014,7.691809,NaN,41.876696,162000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9170466.0,67.496,1.977170,NaN,NaN,NaN,390760.0
5518,Zimbabwe,2015,10.949313,NaN,41.876696,162000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9340761.0,67.615,1.839962,NaN,NaN,NaN,390760.0
5519,Zimbabwe,2016,18.128717,NaN,41.876696,162000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9499135.0,67.704,1.681302,NaN,NaN,NaN,390760.0
5520,Zimbabwe,2017,18.934611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9647246.0,67.763,1.547174,NaN,NaN,NaN,390760.0
5521,Zimbabwe,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9788355.0,67.791,1.452093,NaN,NaN,NaN,390760.0

In [37]:
sf.head()

Indicator Name     Access to electricity, rural (% of rural population)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Agricultural irrigated land (% of total agricultural land)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                           5.668424
             2002                                           4.622149

Indicator Name     Agricultural land (% of land area)  \
Country Name Year
Afghanistan  1998                           58.001716
             1999                           57.827099
             2000                           57.827099
             2001                           57.827099
             2002                           57.827099

Indicator Name     Agricultural land (sq. km)  \
Country Name Year
Afghanistan  1998                    378670.0
             1999                    377530.0
             2000                    377530.0
             2001                    377530.0
             2002                    377530.0

Indicator Name     Agricultural machinery, tractors  \
Country Name Year
Afghanistan  1998                             110.0
             1999                             110.0
             2000                             110.0
             2001                               NaN
             2002                               NaN

Indicator Name     Agricultural machinery, tractors per 100 sq. km of arable land  \
Country Name Year
Afghanistan  1998                                           0.141807
             1999                                           0.143734
             2000                                           0.143173
             2001                                                NaN
             2002                                                NaN

Indicator Name     Agricultural methane emissions (% of total)  \
Country Name Year
Afghanistan  1998                                    73.881227
             1999                                    74.665873
             2000                                    71.209575
             2001                                    67.472555
             2002                                    69.323344

Indicator Name     Agricultural methane emissions (thousand metric tons of CO2 equivalent)  \
Country Name Year
Afghanistan  1998                                        7166.604619
             1999                                        7694.990166
             2000                                        6682.434739
             2001                                        5847.508960
             2002                                        6883.412869

Indicator Name     Agricultural nitrous oxide emissions (% of total)  \
Country Name Year
Afghanistan  1998                                          74.905640
             1999                                          75.939808
             2000                                          72.380378
             2001                                          72.537779
             2002                                          73.274116

Indicator Name     Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)  \
Country Name Year
Afghanistan  1998                                        2496.601988
             1999                                        2734.256076
             2000                                        2400.543016
             2001                                        2218.853784
             2002                                        2472.752284

Indicator Name     ...  Rural land area (sq. km)  \
Country Name Year  ...
Afghanistan  1998  ...                       NaN
             1999  ...                       NaN
             2000  ...                       NaN
             2001  ...                       NaN
             2002  ...                       NaN

Indicator Name     Rural land area where elevation is below 5 meters (% of total land area)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Rural land area where elevation is below 5 meters (sq. km)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Rural population  Rural population (% of total population)  \
Country Name Year
Afghanistan  1998        15416181.0                                    78.105
             1999        15736082.0                                    78.014
             2000        16192155.0                                    77.922
             2001        16816935.0                                    77.831
             2002        17569613.0                                    77.739

Indicator Name     Rural population growth (annual %)  \
Country Name Year
Afghanistan  1998                            1.832151
             1999                            2.053862
             2000                            2.857057
             2001                            3.785955
             2002                            4.378446

Indicator Name     Rural population living in areas where elevation is below 5 meters (% of total population)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Rural poverty gap at national poverty lines (%)  \
Country Name Year
Afghanistan  1998                                              NaN
             1999                                              NaN
             2000                                              NaN
             2001                                              NaN
             2002                                              NaN

Indicator Name     Rural poverty headcount ratio at national poverty lines (% of rural population)  \
Country Name Year
Afghanistan  1998                                                NaN
             1999                                                NaN
             2000                                                NaN
             2001                                                NaN
             2002                                                NaN

Indicator Name     Surface area (sq. km)
Country Name Year
Afghanistan  1998               652860.0
             1999               652860.0
             2000               652860.0
             2001               652860.0
             2002               652860.0

[5 rows x 44 columns]

In [ ]:
sf